[submodule "sqlflow"]
	path = sqlflow
	url = https://github.com/sql-machine-learning/sqlflow
	branch = develop
[submodule "pysqlflow"]
	path = pysqlflow
	url = https://github.com/sql-machine-learning/pysqlflow
	branch = develop
[submodule "gohive"]
	path = gohive
	url = https://github.com/sql-machine-learning/gohive
	branch = develop
